<%= javascript_pack_tag "hello_react" %>

<h1>Home#index</h1>
<%# <div data-react-componet='Hello'></div> %>
<%# <%= react_component "Hello", { name: "React" } %>
<div data-react-component="Hello" data-props='{ "name": "Hello"}'></div>
<p>Find me in app/views/home/index.html.erb</p>
